.bg{
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 100%;
    background-size: cover;
    background-position:bottom  center;
}

.timer{
    position: fixed;
    align-content: center;
    max-width: 10%;
    font-size: 40px;
    margin-left: 30%;
    font-weight: bold;
}

.hero{
    position: fixed;
    max-width: 10%;
    height: auto;
    bottom: 27%;
    left:3%;
    transform: scalex(+1);
}

.zombie{
    position:fixed;
    max-width: 10%;
    height: auto;
    bottom: 28%;
    left:90%;
    transform: scalex(-1);
    
}